<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Polymer WebApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/global.css">

    <!-- Place your HTML imports here -->
    <script src="bower_components/platform/platform.js"></script>
    <link rel="import" href="bower_components/polymer-ajax/polymer-ajax.html">
    <link rel="import" href="elements/heymenu-page.html">
    <link rel="import" href="elements/heymenu-restaurant-container.html">
</head>
<body unresolved>
  <heymenu-page actions='[{"name": "New Restaurant", "url": "/signup.html"}]'>
    <heymenu-restaurant-container></heymenu-restaurant-container>
  </heymenu-page>
</body>
</html>
